LLM_MODEL= # a model that can tool call
GROQ_API_KEY= # your groq api key here
USER_ID= # the id given from the owner of the bot to the user
DB_URL= # your postgres database url here
TIME_ZONE= #your timezone here eg: America/New_York